<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre mí</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Soy Agustín Brasburg, egresado de Ingeniería en Informática en la Facultad de Ingeniería de la UBA. Me especializo en el desarrollo de software y la gestión de proyectos tecnológicos. Actualmente, colaboro como ayudante en Fundamentos de la Programación en FIUBA, apoyando a estudiantes en la resolución de problemas de algoritmos y estructuras de datos.</p>
      </div>
      <div class="col-lg-4">
        <p>Me considero una persona curiosa, con ganas de enfrentar nuevos desafíos y seguir aprendiendo constantemente. Disfruto resolviendo problemas complejos y buscando soluciones innovadoras. Soy proactivo, analítico y me motiva trabajar en equipo para crear proyectos de impacto.</p>
      </div>
    </div>
  </div>
</section>
